aws_region          = "ca-central-1"
environment         = "dev"
vpc_id              = "vpc-xxxxxxxxxxxxxxxxx"
public_subnet_ids   = ["subnet-xxxxxxxxxxxxxxxxx", "subnet-yyyyyyyyyyyyyyyyy", "subnet-zzzzzzzzzzzzzzzzz"]
ecr_repository_url  = "123456789012.dkr.ecr.amazonaws.com/serverless-ingestion-engine-dev"
discord_webhook_url = "https://discord.com/api/webhooks/DEV_WEBHOOK_ID/DEV_WEBHOOK_TOKEN"
